@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientAdd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <br />
    <form class="form-group" method="post" enctype="multipart/form-data">

        <br />
        <b>First Name:</b>
        <input type="text" name="firstname" class="form-control" required>
        <br />
        <b>Last Name:</b>
        <input type="text" name="lastname" class="form-control" required>
        <br />
        <b>Adress:</b>
        <input type="text" name="adress" class="form-control" required>
        <br />
        <b>Number:</b>
        <input type="text" name="number" class="form-control" required>
        <br />
        <button class="btn btn-danger">Doctor Add</button>
    </form>
    <br />
</body>
</html>

