
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <center>
        <img src="~/img/133.png" />
        <br /><span style="font-family:'Arial Rounded MT'; font-size:50px;">Success..</span>
    </center>

</body>
</html>
